body {
    background-color: black;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
}

#motivation-image {
    height: 550px;
    border: 5px solid white;
    width: 50%;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 75px;
}